.altar {
	margin: 30px 0;

	&.animated {
		.altar__illustration {
			animation: fadeIn .5s .5s ease forwards;
		}

		.altar__box {
			animation: fadeIn .5s 1s ease-out forwards;
		}
	}

	&__illustration {
		opacity: 0;
	}

	&__container {
		margin-bottom: 50px;
	}

	&__instruction {
		font-size: 14px;
		margin: 0 0 20px;
		opacity: .5;
		text-align: center;
	}

	&__box {
		background-color: $color-purple-neon;
		height: 250px;
		margin: 0 auto 100px;
		max-width: 450px;
		opacity: 0;
		padding: 30px;
		position: relative;

		.icon {
			position: absolute;
			top: 50%;

			&--arrow-left {
				left: -15px;
				transform: translate(0, -50%) rotate(90deg);
			}

			&--arrow-right {
				right: -15px;
				transform: translate(0, -50%) rotate(-90deg);
			}
		}
	}

	&__item {
		position: relative;

		&.animated {
			animation: fadeIn 1s ease-out forwards;
		}

		&::after {
			background-image: linear-gradient(to bottom, rgba($color-white, 0), $color-purple-neon);
			bottom: 0;
			content: '';
			height: 25px;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}

	&__item-content {
		animation: translating .2s ease-out forwards;
		height: 125px;
		opacity: 0;
		overflow-y: scroll;
	}

	&__item-name {
		color: $color-green;
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	&__item-desc {
		line-height: 21px;
		margin-bottom: 15px;

		span {
			font-weight: bold;
			text-transform: capitalize;
		}
	}

	&__item-icon {
		bottom: -110px;
		left: 50%;
		max-height: 90px;
		position: absolute;
		transform: translate(-50%, 0);
		width: auto;
		z-index: 2;

		&--picture,
		&--candles,
		&--banner {
			bottom: -90px;
			max-height: 120px;
		}

		&--flower {
			bottom: -90px;
		}
	}

	@include breakpoint-tablet {
		margin: 50px 0;

		&__illustration {
			margin: 0 auto 40px;
			max-width: 550px;
		}
	}

	@include breakpoint-laptop {
		&.animated {
			.altar__illustration {
				animation: altarIntro 2s .5s ease forwards;
			}

			.altar__box {
				animation-delay: 2s;
			}
		}

		&__container {
			align-items: center;
			display: flex;
		}

		&__item-content {
			height: 170px;
			overflow-y: scroll;
		}

		&__item-icon {
			bottom: -120px;
			max-height: 100px;

			&--picture,
			&--candles,
			&--banner {
				bottom: -100px;
				max-height: 140px;
			}
		}

		&__illustration {
			left: 25%;
			padding: 0 20px;
			position: relative;
			width: 50%;
		}

		&__box {
			height: 320px;
			margin: auto;
			width: 40%;
		}

		&__instruction {
			margin: 20px 0 0;
		}
	}
}
