

.illustration {
	overflow: visible;
	&__base {
		opacity: .5;
	}

	&__clickable {
		cursor: pointer;
	}

	&__candles {
		circle,
		.fire {
			transform-box: fill-box;
			transform-origin: center;
		}

		circle,
		.fire {
			animation: glow 1.5s ease-in-out infinite alternate;
			filter: url('#dropshadow');
		}

		circle {
			animation: tinkle 1.5s ease-in-out infinite alternate;
			fill: #F1C631;
			opacity: .4;
		}
	}

	&__chocolate {
		.steam {
			fill: #EEE;
			opacity: 0;
			transform-box: fill-box;
			transform-origin: center;
		}
	}
}

.cls-2 {
	fill: #1C002A;
}

.cls-3 {
	fill: #450A4D;
}

.cls-54,
.cls-80 {
	mix-blend-mode: multiply;
}

.cls-5,
.cls-54 {
	fill: #672381;
}

.cls-6 {
	fill: #21D8FB;
}

.cls-7 {
	fill: #5EB292;
}

.cls-8 {
	fill: #EEE;
}

.cls-9 {
	fill: #230034;
}

.cls-10 {
	fill: #F05B25;
}

.cls-11 {
	fill: #F47D21;
}

.cls-12 {
	fill: #FCBB19;
}

.cls-14 {
	fill: #F7921F;
}

.cls-15 {
	fill: #F99F1F;
}

.cls-16 {
	fill: #F27024;
}

.cls-17 {
	fill: #F79623;
}

.cls-18 {
	fill: #0097A2;
}

.cls-19 {
	fill: #FF2B79;
}

.cls-20 {
	fill: #FF95C9;
}

.cls-21 {
	fill: #FF84B7;
}

.cls-29 {
	fill: #860D43;
}

.cls-30 {
	fill: #00777F;
}

.cls-31 {
	fill: #FFD901;
}

.cls-33 {
	fill: #49D3C9;
}

.cls-35 {
	fill: #0072BA;
}

.cls-36 {
	fill: #0098DB;
}

.cls-46 {
	fill: #0063A0;
}

.cls-47 {
	fill: #27A07B;
}

.cls-48 {
	fill: #CE2C5C;
}

.cls-49 {
	fill: #F73153;
}

.cls-50 {
	fill: #FFA0B2;
}

.cls-52 {
	fill: #FFFCE6;
}

.cls-53 {
	fill: #DDA277;
}

.cls-54 {
	opacity: .16;
}

.cls-55,
.cls-74 {
	fill: #FFF;
}

.cls-55 {
	mix-blend-mode: soft-light;
}

.cls-56 {
	fill: #CECECE;
}

.cls-57 {
	fill: #F5EFEC;
}

.cls-58 {
	fill: #3D3C3C;
}

.cls-61 {
	fill: #8B6037;
}

.cls-62 {
	fill: #A97345;
}

.cls-63 {
	fill: #333232;
}

.cls-64 {
	fill: #FFC60A;
}

.cls-65 {
	fill: #FFE9C1;
}

.cls-66 {
	fill: #FFDBAC;
}

.cls-67 {
	fill: #E2C39A;
}

.cls-68 {
	fill: #112129;
}

.cls-73 {
	fill: #9E5245;
}

.cls-76 {
	fill: #C0E2EA;
}

.cls-77 {
	fill: #A1BDC6;
}

.cls-79 {
	fill: #A8D9E8;
}

.cls-80 {
	fill: #6B3981;
	opacity: .08;
}

.cls-84 {
	fill: #FFCE12;
}

.cls-86 {
	fill: #FC40A4;
}

.cls-87 {
	fill: #240000;
}

.cls-88 {
	fill: #F79A22;
}

.cls-90 {
	fill: #CB9466;
}

.cls-91 {
	fill: #B77B58;
}

.cls-92 {
	fill: #B97E52;
}
