.altar {
	margin: 20px 0;

	&__container {
		margin-bottom: 50px;
	}

	&__instruction {
		font-size: 14px;
		margin: 20px 0;
		opacity: .5;
		text-align: center;
	}

	&__box {
		background-color: $color-purple-neon;
		padding: 30px;
		position: relative;

		.icon {
			position: absolute;
			top: 50%;

			&--arrow-left {
				left: -15px;
				transform: translate(0, -50%) rotate(90deg);
			}

			&--arrow-right {
				right: -15px;
				transform: translate(0, -50%) rotate(-90deg);
			}
		}
	}

	&__item {
		margin-bottom: 50px;
	}

	&__item-name {
		color: $color-green;
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	&__item-desc {
		line-height: 21px;
		margin-bottom: 15px;

		span {
			font-weight: bold;
			text-transform: capitalize;
		}
	}

	&__item-icon {
		bottom: -40px;
		height: 100px;
		left: 50%;
		position: absolute;
		transform: translate(-50%, 0);
		width: 100px;

		&--candles,
		&--chocolate {
			bottom: -25px;
		}
	}

	@include breakpoint-tablet {
		margin: 50px 0;
	}

	@include breakpoint-laptop {
		&__container {
			display: flex;
		}

		&__illustration,
		&__box {
			width: 50%;
		}

		&__illustration {
			padding: 0 20px;
		}

		&__instruction {
			margin: 20px 0 0;
		}
	}
}
