@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideIn {
	from {
		transform: translateY(-400px);
	}

	to {
		transform: translateY(-150px);
	}
}

@keyframes altarIntro {
	0% {
		left: 25%;
		opacity: 0;
		transform: translateY(20px);
	}

	50% {
		left: 25%;
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes translating {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes squeeze {
	0% {
		transform: scale(1, .9);
	}

	35% {
		transform: scale(1, 1);
	}

	60% {
		transform: scale(1, .9);
	}

	80% {
		transform: scale(.9, .9);
	}

	100% {
		transform: scale(1, 1);
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-15px);
	}

	60% {
		transform: translateY(-15px);
	}
}

@keyframes tinkle {
	0% {
		transform: scale(.95);
	}

	50% {
		transform: scale(1.05);
	}

	to {
		transform: scale(1);
	}
}

@keyframes glow {
	0% {
		transform: scale(.7, 1);
	}

	25% {
		transform: scale(1.1, 1);
	}

	50% {
		transform: scale(.8, .9);
	}

	60% {
		transform: scale(.9, 1);
	}

	90% {
		transform: scale(1, .9);
	}

	to {
		transform: scale(1, 1);
	}
}

@keyframes steam-one {
	0% {
		opacity: .9;
		transform: translateY(50%) translateX(55%) scale(.25);
	}

	to {
		opacity: 0;
		transform: translateY(-50%) translateX(56%) scale(1);
	}
}

@keyframes steam-two {
	0% {
		opacity: .9;
		transform: translateY(40%) translateX(55%) scale(.25);
	}

	to {
		opacity: 0;
		transform: translateY(-45%) translateX(50%) scale(1);
	}
}

.bounce {
	animation-delay: 5s;
	animation-duration: 2s;
	animation-iteration-count: 3;
	animation-name: bounce;
}
