.banner {
	filter: drop-shadow(0 2px 3.4px rgba($color-black, .9));
	position: absolute;
	top: -20px;
	width: 80%;

	&--right {
		opacity: .4;
		right: -80px;
	}

	&--left {
		left: -40px;
	}

	@include breakpoint-laptop {
		max-width: 1050px;
		top: -150px;
		width: 75%;
	}
}
