$color-purple: #30063A;
$color-purple-dark: #1D002D;
$color-purple-light: #3D124D;
$color-purple-neon: #6A2E79;
$color-pink: #DD2F76;
$color-green: #CFF400;
$color-gray-light: #EFEFEF;
$color-black: #000;
$color-white: #FFF;
