.hero {
	padding-top: 100px;
	position: relative;

	&__container {
		text-align: center;
		z-index: 2;
	}

	&__title {
		animation: fadeIn .5s ease-out forwards;
		filter: drop-shadow(0 2px 3.4px rgba($color-black, .9));
		margin: 0 auto;
		max-width: 270px;
		opacity: 0;
	}

	&__subtitle {
		animation: fadeIn .5s .5s ease-out forwards;
		font-weight: bold;
		margin: 10px 0;
		opacity: 0;
		text-shadow: 0 2px 3.4px rgba($color-black, .9);
	}

	&__separator {
		background-color: $color-green;
		border-color: $color-green;
		color: $color-green;
		margin: 50px auto;
		width: 20%;
	}

	&__description {
		animation: fadeIn .5s 1s ease-out forwards;
		margin-bottom: 30px;
		opacity: 0;
	}

	&__description-title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	&__description-text {
		line-height: 21px;
		margin-bottom: 20px;
	}

	@include breakpoint-tablet {
		padding-top: 200px;

		&__title {
			max-width: 500px;
		}

		&__subtitle {
			font-size: 24px;
		}

		&__separator {
			width: 10%;
		}

		&__description {
			margin: 0 auto 50px;
			max-width: 600px;
		}

		&__description-title {
			font-size: 21px;
		}

		&__description-text {
			font-size: 18px;
			line-height: 24px;
		}
	}
}
