$icons-list: 'arrow';

.icon {
	background-repeat: no-repeat;
	background-size: 25px 25px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	width: 25px;

	@each $item in $icons-list {
		&--#{$item} {
			background-image: url('../../images/icons/#{$item}.svg');
		}
	}
}
