@import '_partials/reset';
@import '_partials/fonts';
@import '_partials/mixins';
@import '_partials/colors';
@import '_partials/icons';
@import '_partials/animations';

body {
	color: $color-white;
	font-family: $font-primary;
	font-size: 16px;
	font-style: normal;
}

.container {
	@include breakpoint-tablet {
		width: 650px;
	}

	@include breakpoint-laptop {
		width: 900px;
	}

	@include breakpoint-desktop {
		width: 1170px;
	}

	margin: 0 auto;
	width: 90%;
}

.visually-hidden {
	height: 0;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 0;
}

.app {
	@include breakpoint-tablet {
		background-image: url('../images/lights.svg'), linear-gradient(180deg, $color-purple-dark 0%, $color-purple 50%, $color-purple-dark 100%);
		background-size: 120%;
	}

	background-image: url('../images/lights-mobile.svg'), linear-gradient(180deg, $color-purple-dark 0%, $color-purple 50%, $color-purple-dark 100%);
	background-position-x: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}

// Components
@import '_partials/hero';
@import '_partials/banners';
@import '_partials/altar';
@import '_partials/color-picker';
@import '_partials/footer';
